#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

#sketch div {
    flex: 1 0 calc(100% / 16);
    height: calc(640px / 16);
    border: 1px solid grey;
    box-sizing: border-box;
}