#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

#sketch div {
    flex: 1 0 calc(100% / 16);
    height: calc(520px / 16);
    border: 1px solid grey;
    box-sizing: border-box;
}