#controls {
    text-align: center;
    margin-top: 20px;
}

button {
    margin-bottom: 10px;
}

#color-picker-container {
    text-align: center;
    margin-top: 20px;
}

#color-picker {
    display: block;
    margin: 10px auto;
    width: 100px;
    align-items: left;
}

#container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 530px;
}

#sketch div {
    flex: 0 0 calc(100% / 16);
    height: calc(530px / 16);
    border: .75px solid grey;
    box-sizing: border-box;
}